build/
DerivedData/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
**/*.xcuserdatad/
**/xcshareddata/WorkspaceSettings.xcsettings
.build/
Package.pins
Package.resolved

Pods/
*.ipa
*.dSYM.zip
*.dSYM
.DS_Store
DerivedData/
build/
.build/
*.ipa
*.xcarchive
*.xcuserstate
*.xcscmblueprint
*.DS_Store
