DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
.build/
.swiftpm/

*.ipa
*.xcarchive
*.dSYM
*.dSYM.zip
*.zip
*.peMR.zip

*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db

.DS_Store
.AppleDouble
.LSOverride
**/ActiveBundle/
**/ImportTemp/
**/PersistentBundles/
**/tmp/
**/Temp/
