.DS_Store
DerivedData/
build/
*.xcuserdatad/
*.xcscmblueprint
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcuserstate
.build/
Pods/

Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output
*.ipa
*.dSYM.zip
*.dSYM
